In [1]:
import requests
from bs4 import BeautifulSoup
from os.path  import basename

In [96]:
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
page = 'https://www.transfermarkt.co.uk/laliga/startseite/wettbewerb/ES1'
tree = requests.get(page, headers = headers)
soup = BeautifulSoup(tree.content, 'html.parser')

#Create an empty list to assign these values to
teamLinks = []
teams = set()
#Extract all links with the correct CSS selector
links = soup.select("a.vereinprofil_tooltip")

for name in soup.find_all("td", class_="zentriert no-border-rechts"):
    
    teams.add(name.find("a")["title"])
    
    tempLink = "https://www.transfermarkt.co.uk"
    if "startseite" in name.find("a")["href"]:
        array = name.find("a")["href"].split("/")[:5]
        for i, val in enumerate(array):
            if i < 5:
                tempLink += array[i] + "/"
        teamLinks.append(tempLink)
    

_team_links = []
print("NUMBER OF TEAMS:", len(teams), "\n")
# for team, link in zip(teams, teamLinks): 
#     print(team)
#     print(link, '\n')
#     _team_links.append((team.lower(), link))

NUMBER OF TEAMS: 20

In [97]:
def getSalaries():
    page = 'https://soccerprime.com/fc-barcelona-player-salaries/'
    tree = requests.get(page, headers = headers)
    soup = BeautifulSoup(tree.content, 'html.parser')
    table = soup.find_all("table")
    playerSalaries = {}

    for index, i in enumerate(table):
        counter = 0
        temp = i.find_all("td")
        while counter < len(temp):
            name = str(temp[counter])[len("<td>"):-len("<td>")-1]
            counter += 2
            salary = str(temp[counter])[len("<td>"):-len("<td>")-1]
            counter += 1
            playerSalaries[name] = salary

    return playerSalaries

In [120]:
import pandas as pd
import numpy as np

def scrape_data(page):

    headers = {'User-Agent':
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
    pageTree = requests.get(page, headers = headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

    # --------------------------------------------------------------------------

    PlayersList = []
    AgeList = []
    PositionsList = []
    NationList = []
    ValuesList = []
    PlayersLink = []
    Attr1 = []
    Attr2 = []
    Attr3 = []
    Attr4 = []

    # --------------------------------------------------------------------------

    Players = pageSoup.find_all("img", {"class": "bilderrahmen-fixed lazy lazy"})
    
    Age = pageSoup.find_all("td", {"class": "zentriert"})

    Positions = pageSoup.find_all("td", {
          "class": [
                    "zentriert rueckennummer bg_Torwart",
                    "zentriert rueckennummer bg_Abwehr",
                    "zentriert rueckennummer bg_Mittelfeld",
                    "zentriert rueckennummer bg_Sturm"
          ]
      })

    Nationality = pageSoup.find_all("td", {"class": "zentriert"})

    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    for i in range(0,len(Players)): PlayersList.append(str(Players[i]).split('" class', 1)[0].split('<img alt="',1)[1])
    for i in range(1,(len(Players)*3),3): AgeList.append(int(str(Age[i]).split("(",1)[1].split(")",1)[0]))
    for i in range(0,len(Positions)): PositionsList.append(str(Positions[i]).split('title="',1)[1].split('"><div')[0].lower())
    for i in range(2,(len(Players)*3),3): NationList.append(str(Nationality[i]).split('title="',1)[1].split('"/',1)[0].lower())
    for i in range(0,len(Values)): ValuesList.append(Values[i].text)

    # --------------------------------------------------------------------------
    
    playershtml = pageSoup.find_all("td", {"class": "hauptlink"})
    players = int(str(pageSoup.find("span", {"class" : "dataValue"}))[len("<span class='dataValue'>"): -len("</span>")])
    
    for i, v in enumerate(playershtml[:(2*players)]):
        if i % 2 != 0: continue
            
        array = v.find("a")["href"].split("/")
        linkTemp = "https://www.transfermarkt.co.uk"
        for i,v in enumerate(array):
            if i == 2:
                linkTemp += "leistungsdatendetails/"
            else:
                linkTemp += v + "/"
        PlayersLink.append(linkTemp + "plus/0?saison=ges")
        
    salaries = getSalaries()
    
    # --------------------------------------------------------------------------
    
    for index, i in enumerate(PlayersLink):
        pageTree = requests.get(i, headers = headers)
        pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
        temp = pageSoup.find("tfoot").find_all("td", {"class": ["zentriert", "rechts"]})
        
        if index < 3: 
            TotalGames = str(temp[2])[len('<td class="zentriert">'):-len('</td>')]
            GoalsConceeded = str(temp[5])[len('<td class="zentriert">'):-len('</td>')]
            Cleansheets = str(temp[6])[len('<td class="zentriert">'):-len('</td>')]
            minutes = str(temp[7])[len('<td class="rechts">'):-len('</td>')]

            Goals = GoalsConceeded
            Assists = Cleansheets

        else:
            TotalGames = str(temp[2])[len('<td class="zentriert">'):-len('</td>')]
            Goals = str(temp[3])[len('<td class="zentriert">'):-len('</td>')]
            Assists = str(temp[4])[len('<td class="zentriert">'):-len('</td>')]
            minutes = str(temp[6])[len('<td class="rechts">'):-len('</td>')]
            
        
        if TotalGames.isdigit(): Attr1.append(int(TotalGames))
        else: Attr1.append(np.nan)

        if Goals.isdigit(): Attr2.append(int(Goals))
        else: Attr2.append(np.nan) 

        if Assists.isdigit(): Attr3.append(int(Assists))
        else: Attr3.append(np.nan)

        Attr4.append(float(minutes[:-1]))
        
        
    cleaned_values = []
    
    for a in list(range(len(ValuesList))):
        if 'm' in ValuesList[a]:
            cleaned_values.append(float(str(ValuesList[a]).split('m\xa0')[0].split('£')[1])*1000000)
        elif 'Th.' in ValuesList[a]:
            cleaned_values.append(float(ValuesList[a].split('Th.\xa0')[0].split('£')[1])*1000)
        else:
            cleaned_values.append(float(a))
    
    # --------------------------------------------------------------------------

    final_df = pd.DataFrame({
        "id": range(len(PlayersList)),
        "name": PlayersList,
        "age": AgeList,
        "position": PositionsList,
        "nation": NationList,
        "value": np.array(cleaned_values).astype(int), 
        "attr1" : Attr1,
        "attr2" : Attr2,
        "attr3" : Attr3,
        "attr4" : Attr4, 
        "salary": ["0"] * len(PlayersList),
        "team": ["fc barcelona"] * len(PlayersList),
    }).set_index("id")
    
    for i in PlayersList:
        if i in salaries.keys():
            final_df.at[final_df[final_df.name == i].index[0], "salary"] = int(str(salaries[i][1:]).replace(',', ''))
        else:
            final_df.at[final_df[final_df.name == i].index[0], "salary"] = np.nan
    
    return final_df

In [121]:
final_df = scrape_data("https://www.transfermarkt.co.uk/fc-barcelona/startseite/verein/131/")

In [122]:
final_df

                     name  age    position  ...   attr4    salary          team
id                                          ...
0   Marc-André ter Stegen   29  goalkeeper  ...  44.389   4800000  fc barcelona
1                    Neto   32  goalkeeper  ...  23.228   3120000  fc barcelona
2              Iñaki Peña   22  goalkeeper  ...   6.540   1500000  fc barcelona
3           Ronald Araújo   22    defender  ...  10.918   2400000  fc barcelona
4             Eric García   20    defender  ...   8.103       NaN  fc barcelona
5         Clément Lenglet   26    defender  ...  24.381   3120000  fc barcelona
6          Óscar Mingueza   22    defender  ...   7.517       NaN  fc barcelona
7            Gerard Piqué   34    defender  ...  52.873  10500000  fc barcelona
8           Samuel Umtiti   28    defender  ...  25.549  10000000  fc barcelona
9              Jordi Alba   32    defender  ...  42.831   7200000  fc barcelona
10             Álex Balde   18    defender  ...   1.511       NaN  fc barcelona
11           Sergiño Dest   21    defender  ...  12.157       NaN  fc barcelona
12           Moussa Wagué   23    defender  ...   6.048       NaN  fc barcelona
13             Dani Alves   38    defender  ...  68.549       NaN  fc barcelona
14        Sergio Busquets   33    midfield  ...  50.790  12400000  fc barcelona
15          Nico González   19    midfield  ...   3.396       NaN  fc barcelona
16        Frenkie de Jong   24    midfield  ...  21.845  17000000  fc barcelona
17                  Pedri   19    midfield  ...   6.697       NaN  fc barcelona
18                   Gavi   17    midfield  ...   1.198       NaN  fc barcelona
19             Riqui Puig   22    midfield  ...   6.708       NaN  fc barcelona
20          Sergi Roberto   29    midfield  ...  28.740   8160000  fc barcelona
21      Philippe Coutinho   29    midfield  ...  27.606   7000000  fc barcelona
22              Ansu Fati   19      attack  ...   2.890   2160000  fc barcelona
23        Ousmane Dembélé   24      attack  ...  12.460  10000000  fc barcelona
24            Yusuf Demir   18      attack  ...   1.627       NaN  fc barcelona
25           Álex Collado   22      attack  ...   8.446       NaN  fc barcelona
26          Memphis Depay   27      attack  ...  27.516       NaN  fc barcelona
27          Sergio Agüero   33      attack  ...  47.845       NaN  fc barcelona
28     Martin Braithwaite   30      attack  ...  27.963   4000000  fc barcelona
29           Luuk de Jong   31      attack  ...  36.336       NaN  fc barcelona

[30 rows x 11 columns]

# TO .JSON AND TO MONGO

In [123]:
a = final_df.T.to_json()
with open('testData.json', 'w') as f:
    f.write(a)

In [75]:
# import pandas as pd
# from pymongo import MongoClient

# client = MongoClient("mongodb+srv://tomaschobola:12345@cluster0.33598.mongodb.net/myFirstDatabase")

# db = client["test"]

# db["testCollection"].insert(final_df.to_dict())